[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = https://github.com/kohana/unittest.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = https://github.com/kohana/userguide.git
